footer {
    background: #fff $fondo left top no-repeat;
    background-size: $size;
    margin-bottom: 1000px;

    h2 {
        padding: 10px 20px;
        text-align: left;
        font-size: 15px;
        color: white;
    }
}