<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OEE</title>
    <link rel="shortcut icon" href="../assets/download.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <div class="container-area">
        <header class="navBackground">
            <nav class="nav-flex">
                <a class="logo" href="https://bzo.bosch.com/bzo/en/start_page.html"><img src="../assets/download.png" width="75px" height="50px" alt="Bosch logo"></a>
                <ul class="column-list">
					<li><a href="../index.html">Home</a></li>
                    <li ><a href="#">Machining</a>
                        <ul>
                            <li><a href="./OEE_Machining.html">OEE Machining</a></li>
                            <li><a href="./OEE_DCU.html">OEE Deburring</a></li>
                        </ul>
                    </li>
                    <li><a href="">Assembly</a>
                        <ul>
                            <li><a href="#">OEE</a></li>
                            <li><a href="./TOP3.html">TOP3</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </header>
        <main class="content-grid content-background">
            <section class="section-background">
                <h1>OEE</h1>
                <p><iframe class="iframe-settings" src="../assets/OEE.pdf" frameborder="0"></iframe></p>
            </section>
            
        </main>
        <footer class="navBackground footer-flex">
            <a href="#">Go Top</a>
        </footer>
    </div>
</body>
</html>